<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.DerbyDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://192.168.0.215:3306/directel_2012</property>
    <property name="hibernate.connection.username">admin</property>
    <property name="hibernate.connection.password">qt-psw-root</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.query.factory_class">org.hibernate.hql.ast.ASTQueryTranslatorFactory</property>
    <mapping resource="voronoi/mappingpojos/Anuncio.hbm.xml"/>
    <mapping resource="voronoi/mappingpojos/Ciudad.hbm.xml"/>
    <mapping resource="voronoi/mappingpojos/Categoria.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
